name: "Build"

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install libopus-dev
        run: sudo apt update && sudo apt-get -y install libopus-dev

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Build
        run: make mumble-discord-bridge

      - name: Verify binary
        run: ./mumble-discord-bridge --help
